
@{
    ViewData["Title"] = "ErrorPassword";
}

<h1 class="display-4" style="font-size: 2.5rem;">Error!<i class="fa-solid fa-skull-crossbones"></i> </h1>
Sorry, the passwords you have entered do not match.<br/>
Please try again. 
<br/>
<a href="/home/register">Return</a>