
@{
    ViewData["Title"] = "ErrorNull";
}

<h1 class="display-4" style="font-size: 2.5rem;" >Error! <i class="fa-solid fa-skull-crossbones"></i></h1>

Sorry, you must fill out all fields to complete registration. Please try again.

<br/>
<a href="/home/register">Return</a>