
@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>

<div class="images-container" style="margin ">
    <div>
        <img style="border-radius:20px; height: 300px;" src="https://images.unsplash.com/photo-1527678357412-ef45dfbd9ecc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" /><br/> 
        <p style="padding-left: 50px;">Iced Macchiato</p>
    </div>
    <div>
        <img style="border-radius:20px; height: 300px; margin-left: 20px; margin-right: 20px;" src="https://images.unsplash.com/photo-1621135177072-57c9b6242e7a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" /> <br/>
        <p style="padding-left: 110px;">Latte</p>
    </div>
    <div>
        <img style="border-radius:20px; height: 300px;" src="https://images.unsplash.com/photo-1621267860478-dbdd589372db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" /> <br/>
        Coffee
    </div>
</div>